/* -------------------------------- 
Buttons
-------------------------------- */

:root {
  --btn-font-size: 1em;
  --btn-sm: calc(var(--btn-font-size) - 0.2em);
  --btn-md: calc(var(--btn-font-size) + 0.2em);
  --btn-lg: calc(var(--btn-font-size) + 0.4em);

  --btn-radius: 5px;
}

.btn {
  display: inline-flex;
  position: relative;
  white-space: nowrap;
  text-decoration: none;
  line-height: 1;

  padding: var(--space-xs) var(--space-sm);
  border: 0;
  border-radius: var(--btn-radius);
  font-size: var(--btn-font-size);
  color: var(--color-link);

  transition: .2s;
  cursor: pointer;
}

.btn:active {
  transition: none;
}

.icon {
  /* icon inherits color of button label */
  color: inherit;
  flex-shrink: 0;
}

/* themes */
.btn--primary {
  background-color: var(--btn-primary-bg);
  color: var(--btn-primary-label);
}

.btn--primary:visited {
  color: var(--btn-primary-label);
}

.btn--primary:hover {
  background-color: var(--btn-primary-hover);
}

.btn--primary:active {
  background-color: var(--btn-primary-active);
}

.btn--secondary {
  background-color: var(--btn-secondary-bg);
  color: var(--btn-secondary-label);

}

.btn--secondary:visited {
    color: var(--btn-secondary-label);
}

.btn--secondary:active {
    background-color: var(--btn-secondary-active);
}

.btn--accent {
  background-color: var(--btn-accent-bg);
  color: var(--btn-accent-label);

}

.btn--accent:visited {
  color: var(--btn-accent-label);
}

.btn--accent:hover {
  background-color: var(--btn-accent-hover);
}

.btn--accent:active {
  background-color: var(--btn-accent-active);
}

/* feedback */
.btn[disabled] {
  cursor: not-allowed;
  background-color: var(--btn-disabled-bg);
  color: var(--btn-disabled-label);
  box-shadow: none;
  opacity: 0.6;
}

.btn[disabled]:visited {
  color: var(--btn-disabled-label);
}

/* button size */
.btn--sm {
  font-size: var(--btn-sm);
}

.btn--md {
  font-size: var(--btn-md);
}

.btn--lg {
  font-size: var(--btn-lg);
}

.btn--full-width {
  display: flex;
  width: 100%;
  justify-content: center;
}

/* buttons group */
.btns {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: calc(-1 * var(--space-xs));

}
.btns > * {
  margin-right: var(--space-xs);
  margin-bottom: var(--space-xs);
}

.btns > *:last-of-type {
    margin-right: 0;
}

/*----------------------------------- */

.button {
  background-color: var(--white);
  border: 1px solid var(--gray-1);
  color: var(--gray-9);
  cursor: pointer;
  padding: 0 var(--space-md);
  text-align: center;
  white-space: nowrap;
  -webkit-appearance: none;
  border-radius: 4px;
  box-shadow: none;
  display: inline-flex;
  font-size: var(--text-md);
  height: 2.5em;
  line-height: var(--button-line-height);
  position: relative;
  vertical-align: middle;
  outline: 0;
}

.button.is-small {
  font-size: var(--text-sm);
}

.button.is-normal {
  font-size: var(--text-md);
}

.button.is-medium {
  font-size: var(--text-lg);
}

.button.is-large {
  font-size: var(--text-xl);
}

.button:focus {
  border-color: #3273dc;
  color: var(--gray-9);
}

.button:focus:not(:active) {
  box-shadow: 0 0 0 0.125em rgba(50,115,220,.25);
}

.button:hover {
  border-color: var(--gray-3);;
  color: var(--gray-9);
}

.button:active {
  border-color: var(--gray-8);;
  color: var(--gray-9);
}

.button.is-primary {
  background-color: var(--color-primary);
  border-color: transparent;
  color: var(--white);
}

.button.is-primary:hover {
  background-color: var(--color-primary-dark);
  border-color: transparent;
  color: var(--white);
}

.button.is-primary:active {
  background-color: var(--color-primary-darker);
  border-color: transparent;
  color: var(--white);
}

.button.is-link {
  background-color: #3273dc;
  border-color: transparent;
  color: var(--white);
}

.button.is-link:hover {
  background-color: #276cda;
  border-color: transparent;
  color: var(--white);
}

.button.is-link:active {
  background-color: #2366d1;
  border-color: transparent;
  color: var(--white);
}

.button.is-info {
  background-color: var(--color-info);
  border-color: transparent;
  color: var(--white);
}

.button.is-info:hover {
  background-color: var(--color-info-dark);
  border-color: transparent;
  color: var(--white);
}

.button.is-info:active {
  background-color: var(--color-info-darker);
  border-color: transparent;
  color: var(--white);
}

.button.is-success {
  background-color: var(--color-success);
  border-color: transparent;
  color: var(--white);
}

.button.is-success:hover {
  background-color: var(--color-success-dark);
  border-color: transparent;
  color: var(--white);
}

.button.is-success:active {
  background-color: var(--color-success-darker);
  border-color: transparent;
  color: var(--white);
}

.button.is-warning {
  background-color: var(--color-warning);
  border-color: transparent;
  color: var(--gray-10);
}

.button.is-warning:hover {
  background-color: var(--color-warning-dark);
  border-color: transparent;
  color: var(--gray-10);
}

.button.is-warning:active {
  background-color: var(--color-warning-darker);
  border-color: transparent;
  color: var(--gray-10);
}

.button.is-danger {
  background-color: var(--color-danger);
  border-color: transparent;
  color: var(--white);
}

.button.is-danger:hover {
  background-color: var(--color-danger-dark);
  border-color: transparent;
  color: var(--white);
}

.button.is-danger:active {
  background-color: var(--color-danger-darker);
  border-color: transparent;
  color: var(--white);
}